/* PDF.js Annotation Layer Styles */
.annotationLayer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 1;
	pointer-events: none;
	transform-origin: 0 0;
}

.annotationLayer section {
	position: absolute;
	text-align: initial;
	pointer-events: auto;
	box-sizing: border-box;
	transform-origin: 0 0;
}

.annotationLayer :is(.linkAnnotation, .buttonWidgetAnnotation.pushButton) > a {
	position: absolute;
	font-size: 1em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.annotationLayer :is(.linkAnnotation, .buttonWidgetAnnotation.pushButton) > a:hover {
	background-color: rgba(255, 255, 0, 0.2);
	opacity: 1;
}

.annotationLayer .textAnnotation img {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea),
.annotationLayer .choiceWidgetAnnotation select,
.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input {
	background-image: var(--annotation-unfocused-field-background);
	border: 2px solid var(--input-focus-border-color);
	box-sizing: border-box;
	font: calc(9px * var(--scale-factor)) sans-serif;
	height: 100%;
	margin: 0;
	vertical-align: top;
	width: 100%;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):required,
.annotationLayer .choiceWidgetAnnotation select:required,
.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input:required {
	outline: 1.5px solid red;
}

.annotationLayer .choiceWidgetAnnotation select option {
	padding: 0;
}

.annotationLayer .buttonWidgetAnnotation.radioButton input {
	border-radius: 50%;
}

.annotationLayer .textWidgetAnnotation textarea {
	resize: none;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea)[disabled],
.annotationLayer .choiceWidgetAnnotation select[disabled],
.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input[disabled] {
	background: none;
	border: 2px solid var(--input-disabled-border-color);
	cursor: not-allowed;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):hover,
.annotationLayer .choiceWidgetAnnotation select:hover,
.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input:hover {
	border: 2px solid var(--input-hover-border-color);
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):hover,
.annotationLayer .choiceWidgetAnnotation select:hover,
.annotationLayer .buttonWidgetAnnotation.checkBox input:hover {
	border-radius: 2px;
}

.annotationLayer .textWidgetAnnotation :is(input, textarea):focus,
.annotationLayer .choiceWidgetAnnotation select:focus {
	background: none;
	border: 2px solid var(--input-focus-border-color);
	border-radius: 2px;
	outline: var(--input-focus-outline);
}

.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) :focus {
	background-image: none;
	background-color: transparent;
}

.annotationLayer .buttonWidgetAnnotation.checkBox :focus {
	border: 2px solid var(--input-focus-border-color);
	border-radius: 2px;
	outline: var(--input-focus-outline);
}

.annotationLayer .buttonWidgetAnnotation.radioButton :focus {
	border: 2px solid var(--input-focus-border-color);
	outline: var(--input-focus-outline);
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked::before,
.annotationLayer .buttonWidgetAnnotation.checkBox input:checked::after,
.annotationLayer .buttonWidgetAnnotation.radioButton input:checked::before {
	background-color: CanvasText;
	content: "";
	display: block;
	position: absolute;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked::before,
.annotationLayer .buttonWidgetAnnotation.checkBox input:checked::after {
	height: 80%;
	left: 45%;
	width: 1px;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked::before {
	transform: rotate(45deg);
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked::after {
	transform: rotate(-45deg);
}

.annotationLayer .buttonWidgetAnnotation.radioButton input:checked::before {
	border-radius: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	width: 50%;
}

.annotationLayer .textWidgetAnnotation input.comb {
	font-family: monospace;
	padding-left: 2px;
	padding-right: 0;
}

.annotationLayer .textWidgetAnnotation input.comb:focus {
	width: 103%;
}

.annotationLayer .buttonWidgetAnnotation:is(.checkBox, .radioButton) input {
	appearance: none;
}

.annotationLayer .fileAttachmentAnnotation .popupTriggerArea {
	height: 100%;
	width: 100%;
}

.annotationLayer .popupAnnotation {
	position: absolute;
	font-size: calc(9px * var(--scale-factor));
	pointer-events: none;
	width: max-content;
	max-width: 45%;
	height: auto;
}

.annotationLayer .popup {
	background-color: rgb(255 255 153);
	box-shadow: 0 calc(2px * var(--scale-factor)) calc(5px * var(--scale-factor)) rgb(136 136 136);
	border-radius: calc(2px * var(--scale-factor));
	outline: 1.5px solid rgb(255 255 74);
	padding: calc(6px * var(--scale-factor));
	cursor: pointer;
	font: message-box;
	white-space: normal;
	word-wrap: break-word;
	pointer-events: auto;
}

.annotationLayer .popupAnnotation.focused .popup {
	outline-width: 3px;
}

.annotationLayer .popup * {
	font-size: calc(9px * var(--scale-factor));
}

.annotationLayer .popup > .header {
	display: inline-block;
}

.annotationLayer .popup > .header h1 {
	display: inline;
}

.annotationLayer .popup > .header .popupDate {
	display: inline-block;
	margin-left: calc(5px * var(--scale-factor));
	width: fit-content;
}

.annotationLayer .popupContent {
	border-top: 1px solid rgb(51 51 51);
	margin-top: calc(2px * var(--scale-factor));
	padding-top: calc(2px * var(--scale-factor));
}

.annotationLayer .richText > * {
	white-space: pre-wrap;
	font-size: calc(9px * var(--scale-factor));
}

.annotationLayer .inkAnnotation svg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.annotationLayer svg line {
	opacity: 0;
}

.annotationLayer .highlightAnnotation,
.annotationLayer .underlineAnnotation,
.annotationLayer .squigglyAnnotation,
.annotationLayer .strikeoutAnnotation,
.annotationLayer .freeTextAnnotation,
.annotationLayer .lineAnnotation svg line,
.annotationLayer .squareAnnotation rect,
.annotationLayer .circleAnnotation ellipse,
.annotationLayer .polylineAnnotation svg polyline,
.annotationLayer .polygonAnnotation svg polygon,
.annotationLayer .caretAnnotation,
.annotationLayer .inkAnnotation svg polyline,
.annotationLayer .stampAnnotation,
.annotationLayer .fileAttachmentAnnotation {
	cursor: pointer;
}

.annotationLayer section svg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.annotationLayer .annotationTextContent {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	color: transparent;
	user-select: none;
	pointer-events: none;
}

.annotationLayer .annotationTextContent span {
	width: 100%;
	display: inline-block;
}
